<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GC_Clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GC_Clicker.Properties.Settings>
            <setting name="RandomDelay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClickDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="X" serializeAs="String">
                <value>1120</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RandomPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopAtTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>06/05/2024 23:59:59</value>
            </setting>
            <setting name="TemporaryPause" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EarnPerTap" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnergyLimit" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="PauseAfter" serializeAs="String">
                <value>160000</value>
            </setting>
            <setting name="ResumeAfter" serializeAs="String">
                <value>666000</value>
            </setting>
            <setting name="CheckBlueStackAppPlayer" serializeAs="String">
                <value>True</value>
            </setting>
        </GC_Clicker.Properties.Settings>
    </userSettings>
</configuration>